SECRET_KEY=CHANGE_THIS_LONG_SECRET_FOR_CASA_DE_KEBAB
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost,casadekebab.com,www.casadekebab.com
SMS_MODE=console
DATABASE_URL=
TELEGRAM_ENABLED=False
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
